services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: yieldit
      POSTGRES_USER: yieldit
      POSTGRES_PASSWORD: yieldit
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    env_file:
      - .env
    volumes:
      - ./src:/app
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data:
